body,html {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: black;
	color: white;
	text-align: center;
	overflow: hidden;
}

#title {
	padding-top: .5em;
}

#subtitle {
	padding-bottom: .5em;
}

button {
	background-color: black;
	color: white;
	border: 1px solid white;
	font-family: "consolas", monospace;
	margin: .5em, .25em;
}

button:active {
	background-color: white;
	color: black;
}

.slider {
	position: relative;
	appearance: slider-horizontal;
    color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
    cursor: default;
    padding: initial;
    border: initial;
    margin: 2px;
}

.slider-cell {
	position: relative;
}

.slider-val {
	position: absolute;
	top: -3px;
	color: lightgray;
	font-style: italic;
	font-size: 70%;
}

#app {
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex:1;
	flex-direction: column;
}

#main-9 {
	position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
}

#container {
	width: 80%;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	text-align: center;
}

canvas {
	border: 1px solid white;
}

#controls {
	margin: 5px;
	padding: 4px;
	width: auto;
}

.aof-sliders {
	padding: 2px;
	margin: 2px;
}

button.toggled {
	background-color: grey;
}

.handsfree-debugger {
	top: 200px;
	position: absolute;
	width:240px;
}