/* Styles for a basic chat app */

html,body {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}

#app {
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex: 1;
}

.chat-widget {
	overflow: hidden;
	margin: 0px auto;
	margin-bottom: 1em;
	width: 400px;
	flex: 1;
	padding: 5px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}

.chat-widget>.messages {
	overflow-y: scroll;
	flex: 1;
}

.chat-row {
	padding: 8px 10px;
	align-items: flex-end;
	position: relative;
	display: flex;
	flex-direction: row;
}

.chat-message {
	display: inline-block;
	padding: 5px 10px;
	margin: 0px 5px;
	border-radius: 20px 20px 20px 0px;
	border: 1px solid black;
}

.chat-row.self {
	flex-direction: row-reverse;
}

.chat-row.self .chat-message {
	border-radius: 20px 20px 0px 20px;
}

.chat-row.chat-msg-alert {
	color: hsla(0, 100%, 50%, 1);
	justify-content: space-around;
}

.chat-row.chat-msg-alert .chat-message {
	border: none;
	border-radius: 10px;
	background-color: hsla(0, 100%, 90%, 1);
}

.chat-widget>.controls {
	height: 40px;
}